<!-- -->

<header>
  <div class="logo">
    <h1 class="text-5xl">LOGO</h1>
  </div>
  

  <!-- ハンバーガーアイコン -->
  <div class="sp-menu">
    <span class="material-symbols-outlined cursor-pointer" id="open">menu</span>
  </div>
</header>

<!--
  -translate-x-full: メインコンテンツを画面外（左側）に移動させるためのクラスです。ハンバーガーメニューの開閉アニメーションなどで使用します。
-->
<main id="main" class="fixed top-0 left-0 bg-white -translate-x-full transition-transform duration-300">
  <div class="text-right">
    <span id="close" class="material-symbols-outlined cursor-pointer">
    close</span>
  </div>
  <p>こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。</p>
  <p>こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。</p>
</main>

