<style>
  .pink-bg {
    background: pink;
  }

  .red-border {
    border: 2px solid red;
  }

  .green-color {
    color: green;
  }
</style>

<h1>テストページ</h1>
<P class="green-color">hello</P>
<button>OK</button>

<script src="/test.js"></script>
