<!-- パーシャルの設定でclassを別のファイルにした idがopenとcloseは一緒のtailwindに -->
<%= render "modal_button", id: "open", title: "詳細を見る" %>

<div id="mask" class="fixed inset-0 bg-black/40 hidden" >
</div>

<section id="modal" class="bg-white w-[300px] p-[20px] rounded-[4px] top-[40px] absolute left-1/2 -translate-x-1/2 translate-y-[-500px]">
  <P>こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。</P>
  <%= render "modal_button", id: "close", title: "閉じる" %>
</section>