<h1>テストページ</h1>
<div class="flex flex-col w-[50%] gap-8 my-8">
<input type="text" class="border">
<textarea class="border">こんにちは</textarea>


<p class="text-red-500">Hello</p>
  <button>OK</button>


</div>

<script src="/test.js"></script>
